<app-main-nav></app-main-nav>

<!--
    ************************************************
    * Main Layout Container
    ************************************************
-->

<div class="container">
  <div class="row">
    <div class="col-md-8 my-4">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 my-4">
      <app-category-menu></app-category-menu>
    </div>
  </div>
</div>

<!--
 ************************************************
 * End Main Page
 ************************************************
-->
