<!--
  ************************************
  * Category menu page right side
  ************************************
-->

<div *ngIf="categories.length == 0" class="text-center my-4">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="categories.length > 0" class="card my-4">
  <ul class="list-group list-group-flush">
    <li href="#" class="list-group-item list-group-item-light">
      <h3 class="text-center">Kategori</h3>
    </li>
    <a
      class="list-group-item d-flex justify-content-between text-capitalize"
      *ngFor="let category of categories"
      [routerLink]="['/kategori', category.name, category.id]"
    >
      {{ category.name }}
    </a>
  </ul>
</div>
